/**
 * <blink> restoration 
 * http://stackoverflow.com/a/16012979
 */
blink {
    display: inline;
    color: inherit;
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}

@keyframes blink { 
    50% { visibility: hidden; }
}

@-webkit-keyframes blink { 
    50% { visibility: hidden; }
}
